.root {
    -fx-padding: 40;
    -fx-background-color: #f0f0f0;
}

.card {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 10;
    -fx-font-size: 16px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
    -fx-cursor: hand;
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-alignment: center;
}

.card:hover {
    -fx-background-color: #e6e6e6;
}

.top-bar {
    -fx-padding: 10;
    -fx-alignment: center-right;
    -fx-background-color: #e0e0e0;
    -fx-pref-width: 100%;
}

.greeting-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.logout-button {
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: lightgray;
}
