.root {
    -fx-background-color: #f0f4f8; /* Light background with a slight blue tone */
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50; /* Dark blue color */
}

.table-view {
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #ffffff;
    -fx-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-row-cell:selected {
    -fx-background-color: #d5e8f6; /* Light blue for selected rows */
}

.table-cell {
    -fx-text-fill: #34495e; /* Darker text color */
}

.table-cell:selected {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #3498db; /* Blue button */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8 15 8 15;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2980b9; /* Darker blue on hover */
}
